//- extends layout

//- block content
//-   h1 Game Over
//-   p Your Score: #{score}
//-   p Total Questions Answered: #{totalQuestions}
//-   p Correct Answers: #{correctAnswers}
//-   p Incorrect Answers: #{incorrectAnswers}
//-   div
//-     a(href='/retry') Retry Quiz
//-     a(href='/dashboard') Go to Dashboard